@{
    ViewData["Title"] = "Confirmation";
}
@model AddTask

<div class="container mt-5">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="row col-12">
                <div class="col-12 text-center">
                    <h4 class="card-title">Thank you for adding <strong>@Model.TaskName</strong> to the task list.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

