@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-12">Welcome</h1>
    <h1 class="display-12">Time Managment Task Master</h1>
    <p class="col-12">Add your tasks, and then view them all to stay productive!</p>
</div>
