@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 col-12">Welcome to the</h1>
    <h2 class="display-5 col-12">Time Management Task Master</h2>
    <p class="lead mt-4 col-12">Add your tasks, and then view them all to stay productive!</p>
    <div class="mt-5">
        <a href="/Home/AddTask" class="btn btn-primary btn-lg">Add Task</a>
        <a href="/Home/ViewTasks" class="btn btn-success btn-lg">View Tasks</a>
    </div>
</div>
